.containerScoring {
  max-width: 960px;
}
.b-example-divider1 {
  width: 100%;
  height: 1rem;
  /* background-color: rgba(0, 0, 0, .1); */
  /* border: solid rgba(0, 0, 0, .15); */
  border-width: 1px 0;
  /* box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */
}
.rounded-custom-pill{
  border-radius:var(--bs-border-radius-pill)!important;
  height: 80%;
  margin-right: 5px;
}
.hover{
  display:flex;
}